#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 60%;
}
.navMenu {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}

.navMenu input {
  border-color: #6c63ff;
}

.navMenu button {
  background: #6c63ff;
}

.navMenu button:hover {
  background: #534cc2 !important;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.8rem;
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}

.emptyImg {
  background-image: url(./assets/empty.svg);
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 221 / 174;
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  text-align: left;
  gap: 1.3rem;
  padding-left: 0.8rem;
  max-width: 80%;
  width: 80%;
}

.todoItemWrapper {
  padding-left: 1rem;
}

.todoItem .ant-checkbox-inner {
  background-color: transparent;
  border-color: #6c63ff;
  width: 1.5rem;
  height: 1.5rem;
}

.todoItem.completed input {
  background-color: #6c63ff !important;
}

.todoItem.completed input:hover {
  background-color: #534cc2 !important;
}

.todoItem.completed .ant-checkbox-inner {
  background-color: #6c63ff !important;
}

.todoItem.completed .ant-checkbox-inner:hover {
  background-color: #534cc2 !important;
}

.todoItem {
  border-bottom: solid 1px #7b45b7;
  padding: 0.5rem 0.5rem 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: flex-end;
}

.todoItem.completed {
  text-decoration: line-through;
  color: grey;
}

.todoItemWrapper::marker {
  line-height: 1;
}

.todoText {
  flex-grow: 1;
  font-size: 1rem;
  padding: 4px 11px;
  border: solid 1px transparent;
}

.editInput {
  font-size: 1rem;
}

.todoButtons {
  display: flex;
  gap: 0.5rem;
}

.btnEdit:not(:disabled):hover {
  color: #6c63ff !important;
}

.btnDelete:hover {
  color: #e50000 !important;
}

.btnAdd {
  align-self: end;
  background: #6c63ff !important;
  border-color: #6c63ff !important;
  color: #fff !important;
}

.btnAdd:hover {
  background: #534cc2 !important;
}

.btnAdd.ant-popover-open {
  background: #fff !important;
  border-color: #6c63ff !important;
  color: #6c63ff !important;
}

.btnSort,
.btnAppend {
  background: #6c63ff;
  border-color: #6c63ff;
  color: #fff;
}

.btnSort:hover,
.btnAppend:hover {
  background: #534cc2 !important;
  border-color: #6c63ff !important;
  color: #fff !important;
}

.inputWrapper {
  display: flex;
  gap: 1rem;
}
